html {
  height: 100%;
}
body {
  --accent-color: #00b0ff;

  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  opacity: 0.8;
  stroke: rgba(0, 0, 0, 0.87);
}
.clean {
  fill: blue;
}
.allegated {
  fill: red;
}
#container {
  position: relative;
}
#tooltip {
  display: none;
  min-width: 125px;
  background-color: greenyellow;
  position: absolute;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
}
#tooltip p {
  margin: 4px 0;
}
