html,
body {
  margin: 0;
  padding: 0;
  --accent-color: #00b0ff;
}
.dot {
  opacity: 0.8;
  fill: var(--accent-color);
  stroke: rgba(0, 0, 0, 0.87);
}
#container {
  position: relative;
}
#tooltip {
  opacity: 0;
  height: 50px;
  width: 50px;
  background-color: greenyellow;
  position: absolute;
}
